header.row
  nav.navbar.navbar-default.navbar-fixed-top
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="#") Item 
        li
          a(href="#") item
        li
          a(href="#") item
        li
          a(href="#") item